@model LocationDataHelper

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<div class="modal fade" id="addLocation" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Добавление локации</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form asp-action="AddLocation" asp-controller="PMLocations" method="post">
						<div class="form-group">
							<label>Название локации</label>
							<input asp-for="Name" type="text" placeholder="Название локации" class="form-control">
						</div>
						<div class="form-group">
							<label>Вместительность</label>
							<input asp-for="Capaciousness" type="text" placeholder="Максимальное количество человек" class="form-control">
						</div>
						<div class="form-group">
							<label>Оснащённость</label>
							<textarea asp-for="Equipment" type="text" placeholder="Описание места" rows="3" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></textarea>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="submit" id="editUser">Добавить</button>
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="mainwrapper" style="min-width: 900px">
		<nav class="navbar navbar-light mb-4" style="background-color: #e3f2fd;">
			<ul class="nav nav-pills">
				<li class="nav-item">
					<a class="nav-link" href="../../PMEventsPrepare/Index">Багетная мастерская</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Мероприятия</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="../../PMEventsPick/Index">Выбираемые</a>
						<a class="dropdown-item" href="../../PMEventsInvalid/Index">Брак</a>
						<a class="dropdown-item" href="../../PMEventsComplete/Index">Проведенные</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../../PMPrograms/Index">Программы</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../../PMOrders/Index">Заказы</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="../../PMLocations/Index">Локации</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="../../PMProfile/Index">Профиль</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0 justify-content-end" action="../../Home/Index" method="POST" name="exitForm">
				<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Выйти</button>
			</form>
		</nav>
	</div>
	<div class="clearfix" style="max-width: 1200px">
		<h2 class="col ml-2">Локации</h2>
		<div class="col my-3">
			<div class="my-3">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addLocation" data-target=".bd-example-modal-lg">
					<svg class="bi bi-plus" width="2em" height="2em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M10 5.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H6a.5.5 0 010-1h3.5V6a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
						<path fill-rule="evenodd" d="M9.5 10a.5.5 0 01.5-.5h4a.5.5 0 010 1h-3.5V14a.5.5 0 01-1 0v-4z" clip-rule="evenodd"></path>
					</svg>
					Добавление локации
				</button>
			</div>
			@using (var context = new RelaxEntityContext())
			{
				var client = context.Clients.Where(x => x.Email == UserSession.CurrentUserEmail).FirstOrDefault();
				var pm = context.ProjectManagers.Where(x => x.Client == client.Email).FirstOrDefault();
				var organization = context.Organizations.Where(x => x.Name == pm.Organization).FirstOrDefault();
				var locations = context.Locations.Where(x => x.Organization == organization.Name);
				<div>
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">Название</th>
								<th scope="col">Вместительность (чел.)</th>
								<th scope="col">Оснащённость</th>
								<th scope="col"></th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var curLocation in locations)
							{
								<tr>
									<td class="@curLocation.Id">@curLocation.Name</td>
									<td class="@curLocation.Id">@curLocation.Capaciousness</td>
									<td class="@curLocation.Id">@curLocation.Equipment</td>
									<td>
										<button onclick=@string.Format("FillFormEdit({0})", curLocation.Id) type="button" class="btn" data-toggle="modal" data-target="#editLocation" title="Редактировать">
											<svg class="bi bi-pencil text-primary" width="2.5em" height="2.5em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path fill-rule="evenodd" d="M13.293 3.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM14 4l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"></path>
												<path fill-rule="evenodd" d="M14.146 8.354l-2.5-2.5.708-.708 2.5 2.5-.708.708zM5 12v.5a.5.5 0 00.5.5H6v.5a.5.5 0 00.5.5H7v.5a.5.5 0 00.5.5H8v-1.5a.5.5 0 00-.5-.5H7v-.5a.5.5 0 00-.5-.5H5z" clip-rule="evenodd"></path>
											</svg>
										</button>
									</td>
									<td>
										<button onclick=@string.Format("GetLocationId({0})", curLocation.Id) type="submit" class="btn text-danger" data-toggle="modal" data-target="#deleteLocation" title="Удалить">
											<svg class="bi bi-trash" width="3em" height="3em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
												<path d="M7.5 7.5A.5.5 0 018 8v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V8a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V8z"></path>
												<path fill-rule="evenodd" d="M16.5 5a1 1 0 01-1 1H15v9a2 2 0 01-2 2H7a2 2 0 01-2-2V6h-.5a1 1 0 01-1-1V4a1 1 0 011-1H8a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM6.118 6L6 6.059V15a1 1 0 001 1h6a1 1 0 001-1V6.059L13.882 6H6.118zM4.5 5V4h11v1h-11z" clip-rule="evenodd"></path>
											</svg>
										</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			}
		</div>
	</div>
	<div class="modal fade" id="editLocation" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Редактирование локации</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form asp-action="EditLocation" asp-controller="PMLocations" method="post">
						<div class="form-group">
							<label>Название локации</label>
							<input asp-for="Name" type="text" placeholder="Название локации" class="form-control" id="editNameLoc">
						</div>
						<div class="form-group">
							<label>Вместительность</label>
							<input asp-for="Capaciousness" type="text" placeholder="Максимальное количество человек" class="form-control" id="editCapacLoc">
						</div>
						<div class="form-group">
							<label>Оснащённость</label>
							<input asp-for="Equipment" type="text" placeholder="Описание места" rows="3" class="form-control" id="editEqLoc" aria-describedby="emailHelp"></input>
						</div>
						<div class="modal-footer">
							<input type="number" asp-for="CurrentLocationId" id="output_id" hidden>
							<button class="btn btn-primary" type="submit" id="editUser">Сохранить</button>
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="deleteLocation" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Вы точно хотите удалить локацию?</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-footer">
					<form method="post" asp-action="DeleteLocation" asp-controller="PMLocations">
						<div>
							<input type="number" asp-for="CurrentLocationId" id="output_id1" hidden>
							<button class="btn btn-primary" type="submit">Подтвердить</button>
							<button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		function FillFormEdit(id){
			document.getElementById('output_id').value = id;
			var data = document.getElementsByClassName(id);
			document.getElementById('editNameLoc').value = data[0].innerHTML;
			document.getElementById('editCapacLoc').value = data[1].innerHTML;
			document.getElementById('editEqLoc').value = data[2].innerHTML;
		}
		function GetLocationId(id){
			document.getElementById('output_id1').value = id;
		}
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>